.explore {
    width: 328px;
    display: none;

    &__title {
        font-size: 24px;
        line-height: 36px;
    }

    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
    }

    &__content {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    &__link {
        margin-right: 16px;
    }

    &__btn {
        width: 20px;
        height: 20px;
        background: #f4f4f4;
        border-radius: 3px;
        border: none;
        padding-left: 9px;
    }

    &__btn:hover {
        opacity: 0.7;
    }

    &__btn:active {
        opacity: 0.3;
    }

    &__item {
        display: flex;
    }

    &__item-btn {
        border: none;
        background: #fff;
        margin-right: 15px;
    }

    &__item-btn:hover {
        opacity: 0.6;
    }

    &__item-btn:active {
        opacity: 0.3;
    }
}


@media only screen and (max-width: 1024px) {
    .explore {
        display: block;
        width: 900px;
        padding: 15px;
    }
}


@media only screen and (max-width: 768px) {
    .explore {
        width: 700px;
    }
}


@media only screen and (max-width: 425px) {
    .explore {
        width: 320px;
    }
}